$bg-color: #3a3a3a;

$name-color-1: #ff8a54;
$name-color-2: #ff655c;

$gradient-color-1: rgba(231, 156, 77, 0.46);
$gradient-color-2: rgba(198, 102, 97, 0.46);

$gradient-icon-box-color-1: #ff9c30;
$gradient-icon-box-color-2: #ff641f;
